<nav id="busca-usuario">
  <div class="nav-wrapper">
    <div class="input-field">
      <input
        id="input-busca-usuario"
        type="search"
        [(ngModel)]="inputBusca"
        (keyup.enter)="buscarUsuario()">
      <label
        id="bt-busca-usuario"
        class="label-icon"
        for="input-busca-usuario">
          <i class="material-icons busca">search</i>
      </label>
      <i
        class="material-icons"
        (click)="limpaBusca()">close</i>
    </div>
  </div>
</nav>